<section class="phx-hero">
  <h1>Access Campus API</h1>
  <p>REST API for the <a href="https://www.access-campus.app/", target="_blank">Access Campus app</a></p>
</section>

<section>
  <h2>
    Login will go here eventually
  </h2>
</section>